@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f45b26;
  --secondary: #f8de22;
  --ternary: #d12052;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-ternary: var(--ternary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
