@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f45b26;
  --secondary: #f8de22;
  --ternary: #d12052;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-ternary: var(--ternary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-barlow: var(--font-barlow-condensed);
  --font-poppins: var(--font-poppins);
  --font-londrina: var(--font-londrina);
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(2deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@layer utilities {
  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
}
